<!-- Google Maps -->

<!-- New Page -->
        <section class="section-full">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-8 col-lg-offset-4">
                <h1><%= @hotel.name %></h1>
                <% if @hotel == current_hotel %>
                  <%= link_to "Edit", edit_hotel_registration_path %>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <!--Section Description-->
        <section class="section-sm bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-4 inset-8">
                <div class="img-wrap-mod-1"><%= image_tag @hotel.logo %></div><a href="appointment.html" class="btn btn-sm btn-primary btn-full-width">Make an appointment</a>
                <ul class="list-unstyled list-unstyled-mod-1">
                  <li><a href="callto:#"><span class="material-icons-local_phone icon icon-xxs-mod-1 text-primary"></span><%= @hotel.phone %></a></li>
                  <li><a href="callto:#"><span class="material-icons-local_phone icon icon-xxs-mod-1 text-primary"></span><%= @hotel.hotel_manager_phone %></a></li>
                  <li><a href="mailto:#"><span class="material-icons-drafts icon icon-xxs-mod-1 text-primary"></span><%= @hotel.email %></a></li>
                </ul>
                <!-- social links -->
                <!-- <ul class="list-inline">
                  <li><a href="#" class="fa-facebook"></a></li>
                  <li><a href="#" class="fa-twitter"></a></li>
                  <li><a href="#" class="fa-google"></a></li>
                </ul> -->
              </div>
              <div class="col-xs-12 col-md-8 offset-5">
                <h4>About Hotel</h4>
                <p><%= @hotel.description %></p>
              </div>
            </div>
          </div>
        </section>
        <!--Section Jessica Davidson’s Properties-->
        <section class="section-sm">
          <div class="container text-center text-sm-left">
            <h2>Hotel's Meeting Facilites</h2>
            <hr>
            <div class="row relative text-left">
              <div class="col-xs-12 col-md-8">
                <div class="row clearleft-custom-5">
                  <% @hotel.facilities.each do |facility| %>
                    <div class="col-xs-12 col-sm-6">
                      <div class="thumbnail"><a href="/facilities/<%= facility.id %>" class="img-link card-image"><%= image_tag Photo.find(facility.photos.ids.sample).image.url %><span class="thumbnail-price"><%= number_to_currency(facility.price, :unit => "Kes") %>/<span class="mon">day</span></span></a>
                        <div class="caption">
                          <h4><a href="/facilities/<%= facility.id %>"><%= facility.name %> in <%= link_to facility.hotel.name, hotel_path(facility.hotel) %></a></h4>
                          <% i = 0 %>
                            <% facility.facility_layouts.split(" ").length.times do |orientation| %>
                              <div class="col-md-6" style="font-size: 15px;">
                                <span class="icon icon-sm icon-darker hotel-icon-10"></span><%= facility.facility_layouts.split(" ")[i] %> - <%= facility.capacity.split(" ")[i] %>
                              </div>
                              <% i += 1 %>
                            <% end %></br>
                          <p><%= facility.description %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <!-- use paginator -->
                  <!-- <div class="col-xs-12 text-center text-sm-left offset-5">
                    <ul class="pagination">
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                    </ul>
                  </div> -->
                </div>
              </div>
              <div class="col-xs-12 col-md-4 inset-7 text-center text-md-left offset-4">
                  <style>
                  #map {
                    height: 500px;
                    width: 100%;
                  }
                  </style>
                  <h3>My Google Maps Demo</h3>
                  <div id="map"></div>
                  <script>

                  function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 13,
                      center: {lat: <%= @hotel.latitude %>, lng: <%= @hotel.longitude %>}
                    });

                    // Create an array of alphabetical characters used to label the markers.
                    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

                    // Add some markers to the map.
                    // Note: The code uses the JavaScript Array.prototype.map() method to
                    // create an array of markers based on a given "locations" array.
                    // The map() method here has nothing to do with the Google Maps API.
                    var markers = locations.map(function(location, i) {
                      return new google.maps.Marker({
                        position: location,
                        label: labels[i % labels.length]
                      });
                    });

                    // Add a marker clusterer to manage the markers.
                    var markerCluster = new MarkerClusterer(map, markers,
                      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                    }
                    var locations = []
                    <% @hotels.each do |hotel| %>
                    locations.push({lat: <%= hotel.latitude %>, lng: <%= hotel.longitude %>})
                    <% end %>
                    </script>
                    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
                    </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsDME8YAmMgpXL0kjY7ssv3wSi1vzNNFo&callback=initMap">
                    </script>

              </div>
            </div>
          </div>
        </section>
