<div class="page">
     <!-- Page Header-->

<!-- Page Content-->
     <main class="page-content text-center text-sm-left">
       <!--Section Login-->
       <section class="section-height-mod-1 bg-image bg-image-1 section-middle">
         <div class="container z-index">
           <div class="row offset-2">
             <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-lg-4">
               <div class="jumbotron jumbotron-mod-1 text-center text-md-left">
                 <h1>Login
                   <!-- Rd Mailform result field-->
                 </h1>
                 <div class="rd-mailform rd-mailform-mod-1">
                   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                       <div class="field">
                         <%= f.email_field :email, autofocus: true, placeholder: "Username or Email" %>
                       </div>

                       <div class="field">
                         <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                       </div>

                     <div class="field">
                       <% if devise_mapping.rememberable? -%>
                           <%= f.label :remember_me %>
                           <%= f.check_box :remember_me %>
                       <% end -%>

                     </div>
                     <div class="btn btn-primary btn-md">
                       <%= f.submit "Log in" %>
                     </div>
                   <% end %>

                   <%= render "users/shared/links" %>
                 </div>
                 <p>Or enter with</p>
                 <div class="btn-group-mod-2"><a href="#" class="btn btn-sm btn-info"><span class="fa-facebook"></span></a><a href="#" class="btn btn-sm btn-info-2"><span class="fa-twitter"></span></a><a href="#" class="btn btn-sm btn-danger"><span class="fa-google-plus"></span></a></div>
               </div>
             </div>
           </div>
         </div>
       </section>
     </main>
   </div>
