<%= form_for(facility) do |f| %>
  <% if facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :hotel_id, value: current_hotel.id %>
  </div>

  <div class="field">
    <%= f.text_field :name, placeholder: "Facility Name" %>
  </div>

  <div class="field">
    <% @facility_layouts.each do |facility_layout| %>
      <%= f.check_box :facility_layouts, { multiple: true }, facility_layout, false %>
      <%= f.number_field :capacity, { multiple: true } %>
      <%= f.label facility_layout %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
