<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Facility type:</strong>
  <% i = 0 %>
  <% @facility.facility_layouts.split(" ").each do |arrangement| %>
    <li><%= arrangement %> with a capacity of: <%= @facility.capacity.split(" ")[i] %>
    <% i += 1 %>
  <% end %>
</p>

<%= link_to 'Back', facilities_path %>
